@page
@model SklepArtZu.IndexModel

@{
    ViewData["Title"] = "Produkty";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/card.css" />

<div>
<div style="text-align: left; float: left;">
    <h1 style="Position: sticky;"><a asp-area="" asp-page="/Index"><img src="~/lib/images/logo2.png" alt="logo" style="height: 88px; width: 97px;" /></a></h1>
    <h2>Nasze Produkty</h2>
@*</div>
<div>*@
    <p>
        Aby złożyć zamówienie prosimy o</br>
        kontakt telefoniczny: 5367868768</br>
        bądź mailowy: adammalysz@gmail.com
    </p>
</div>



<div class="container" style="float: center; ">

    <div class="row">
        @foreach (var item in Model.Product)
        {
        <div class="mt-2 card col-sm-2 col-md-5 offset-md-1">
            <a href="~/uploads/@Html.DisplayFor(modelItem => item.imgPath)" class="preview" title="kliknij bo powiększyć" style="height: 200px; width:269px; margin-top: 7px; " >
                <img src="~/uploads/@Html.DisplayFor(modelItem => item.imgPath)" alt="photo" style="height: 200px; width:269px; margin-top: 7px; " />
            </a>
            @*<img src="~/uploads/@Html.DisplayFor(modelItem => item.imgPath)" style="height: 200px; width:269px; margin-top: 7px; " />*@
            <h1>@Html.DisplayFor(modelItem => item.Name)</h1>
            <p class="price">@Html.DisplayFor(modelItem => item.Price) zł</p>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>

        </div>

        }

    </div>

</div>
</div>
<script src="~/js/preview.js"></script>

