 body {
        width: auto;
        height: 100%;
        
        /*@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');*/
        font-family: 'Muli', sans-serif;
    }

    h3, h2 {
        color: #d4af37;
        font-size: xx-large;
        padding: 1em;
        font-size: 1.3em;
        @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
        font-family: 'Raleway', sans-serif;
    }

    h1 {

        color: #d4af37;
    }

    figcaption {
        color: #d4af37;

    }


    footer {
        display: block;
        text-align: left;
        margin-top: auto;
    }



    .imagearea {
        /*margin-left: 0px;*/
        background-image: url(../lib/images/logo2.png);
        -webkit-background-size: 45%;
        -moz-background-size: 45%;
        -o-background-size: 45%;
        background-size: 45%;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 1000px;
    }

    .hidenPicture {
        display: none;
    }

    .full-height {
        height: 100%;
    }

   
    #imagearea1 {
        
        height: 100%;
        width: 100%;
        overflow: hidden;
        /*text-align: right;*/
        min-height: 100%;
        /*min-height: 320px;*/
        /*margin-top: 23%;*/
    }

    #imagearea1 img {
        position: center;
    }

    .divDwaTresc {
        margin-left: 500px;
    }

body .container-fluid .MainCointainer .imagearea img {
    height: 107px;
    width: 107px;
    margin-left: 47%;
    position: center;
    object-position: 50% 70%;
    margin-top: 45%;
}

/*.wrapper {
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 3500px;
    margin: 0 auto;
}

.inner {
    height: 200px;
    width: 350px;
    position: absolute;
    left: 0;
    white-space: nowrap;
}

.holder, .in, .hidden {
    position: absolute;
}

.hidden {
    display: none;
}*/

