@media only screen and (max-width: 4000px) and (min-width: 431px) {
    body {
        width: auto;
        height: 100%;
        
        /*@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');*/
        font-family: 'Muli', sans-serif;
    }

    h3 {
        color: steelblue;
        font-size: xx-large;
        padding: 1em;
        font-size: 1.3em;
        @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
        font-family: 'Raleway', sans-serif;
    }


    footer {
        display: block;
        text-align: left;
    }





    .imagearea {
        /*margin-left: 0px;*/
        background-image: url(../lib/images/logo.png);
        -webkit-background-size: 45%;
        -moz-background-size: 45%;
        -o-background-size: 45%;
        background-size: 45%;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .hidenPicture {
        display: none;
    }

    .full-height {
        height: 100%;
    }

    . /*imagearea img {
    width: 100px;
    height: 100px;
}*/
    #imagearea1 {
        background-color: #FFFFD2;
        height: 100%;
        width: 100%;
        overflow: hidden;
        text-align: right;
        min-height: 100%;
        /*min-height: 320px;*/
        /*margin-top: 23%;*/
    }

    #imagearea1 img {
        position: center;
    }

    .divDwaTresc {
        margin-left: 500px;
    }


    body .container-fluid .MainCointainer .imagearea img {
        height: 107px;
        width: 107px;
        margin-left: 44%;
        position: center;
        object-position: 50% 70%;
        margin-top: 45%;
    }
}

    @media only screen and (max-width: 430px) {
        body {
            width: auto;
            height: 100%;
            /*@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');*/
            font-family: 'Muli', sans-serif;
        }
        
        .imagearea {
            /*background-image: url(../lib/images/logo.png);*/
            /*-webkit-background-size: 45%;
            -moz-background-size: 45%;
            -o-background-size: 45%;
            background-size: 45%;
            background-attachment: fixed;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: center center;*/
            display: block;
            height: 100%;
        }


        footer {
            display: block;
            text-align: left;
        }

        .hidenPicture {
            display: block;
            background-position: center center;
        }

        .notHidenPicture {
            display: none;
        }

        .fullscreen {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            overflow: auto;
            /*background: lime*/; /* Just to visualize the extent */
        }
    }
