body {
   
    width: auto;
    height: auto;
    /*@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');*/
    font-family: 'Muli', sans-serif;
}

h3 {
    color: steelblue;
    font-size: xx-large;
    padding: 1em;
    font-size: 1.3em;
    @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
    font-family: 'Raleway', sans-serif;
}


footer {
    display: block;
    text-align: left;
}



nav {
    z-index: 4;
    position: sticky;
    top: 0px;
    /*overflow: hidden;*/
    width: 100%;
    position: fixed;
}


.imagearea {
    /*margin-left: 0px;*/
    background-image: url(../lib/images/AAA.jpg);
    -webkit-background-size: 40%;
    -moz-background-size: 40%;
    -o-background-size: 40%;
    background-size: 40%;
    background-attachment: fixed;
    /*width: 1922px;
    height: 1080px;*/
    /*background-size: 10% 10%;*/
    /*max-width: 100%;
    max-height: 100%;*/
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    /* = ( 600 / 1600 ) x 100 */
    /*height: 470px;*/
    /*min-width: 320px;*/
    /*min-height: 320px;*/
    /*max-height: 1240px;*/
    /*;
    max-width: 1920px;
    height: auto;*/
    /*opacity: 1;*/
}

. /*imagearea img {
    width: 100px;
    height: 100px;
}*/
#imagearea1 {
    /*background-image: url(../lib/images/white.jpg);*/
    /*-webkit-background-size: 40%;
    -moz-background-size: 40%;
    -o-background-size: 40%;
    background-size: 40%;*/
    /*background-attachment: fixed;*/
    /*width: 1922px;
    height: 1080px;*/
    /*background-size: 10% 10%;*/
    /*max-width: 100%;
    max-height: 100%;*/
    /*background-repeat: no-repeat;
    background-position: center center;*/
    background-color: #FFFFD2;
    height: 100%;
    width: 100%;

    overflow: hidden;
    text-align: right;
    /*min-height: 320px;*/
    /*margin-top: 23%;*/
}

    #imagearea1 img {
        object-fit: cover;
    }


body .container-fluid .MainCointainer .imagearea img {
    height: 107px;
    width: 107px;

    margin-left: 45%;
    position: center;
    object-position: 50% 70%;
    margin-top: 45%;
}