@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/site.css" />

<section>
    <div class="MainCointainer">
        <div id="imagearea" class="col-sm-12" >
            @*<img src="~/lib/images/AA.jpg" class="img-fluid col-sm-12" />*@

            
            <a href="#imagearea1"><img src="~/lib/images/arrowPage.png" class="col-sm-12" style="object-position: center center;" /></a>
                
        </div>
        <div id="imagearea1" class="col-sm-12">
            </br>
            <h2>About as</h2>
            <p>blablablablablablablablablablablablablabla</p>
            <p>blablablablablablablablablablabla</p>
            <p>blablablablablablablablablablablablablablablablabla</p>
        </div>

    </div>
</section>


