@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/site.css" />

<section>
    <div class="MainCointainer">

                    <div class="imagearea fullscreen" @*class="col-sm-12"*@  >
                        <img src="~/lib/images/logo.png"  class="hidenPicture"/>

                        </br>
                        <a href="#imagearea1"><img src="~/lib/images/arrowPage.png" class="col-sm-12 notHidenPicture" style="object-position: center center;" /></a>
                        </br>

                    </div>


                    <div id="imagearea1" class="full-height fullscreen">
                        <section class="jumpers">

                            <div class="container">

                                <header>

                                    <h1><img src="~/lib/images/logo2.png" alt="logo" style="height: 88px; width: 97px;" /> ArtZu Decoration</h1>
                                    <p></p>
                                    </br>
                                </header>
                                
                                <div class="row">

                                    <div class="col-sm-3">

                                        <figure>
                                            <a asp-area="" asp-page="/Products/Index"><img src="~/lib/images/cart-outline/64x64.png" alt="Sklep"></a>
                                                <figcaption>Zobacz produkty</figcaption>
                                        </figure>

                                    </div>
                                    <div class="col-sm-3">

                                        <figure>
                                            <img src="~/lib/images/flowers.png" alt="Wesela" onclick="willBeSoon()" style="height:64px; width:64px; ">
                                            <figcaption>Strojenie imprez</figcaption>
                                        </figure>

                                    </div>
                                    <div class="col-sm-3">

                                        <figure>
                                            <img src="~/lib/images/flowers.png" alt="Wesela" onclick="willBeSoon()" style="height:64px; width:64px; ">
                                            <figcaption>Kwiaciarnia</figcaption>
                                        </figure>

                                    </div>
                                    <div class="col-sm-3">

                                        <figure>
                                            <a href="https://www.instagram.com/artzudecorations/" target="_blank"><img src="~/lib/images/instagram-solid/64x64.png" alt="instagram"></a>
                                            <figcaption>Instagram</figcaption>
                                        </figure>

                                    </div>

                                </div>

                            </div>

                        </section>
                        </br>
                        <div class="m-5 divDwaTresc col">
                        <div class="m-5">
                            <div class="w3-content w3-section">
                                <img src="~/lib/images/IndexPhotos/1Bez nazwy-1.jpg" alt="zdj" class="mySlides w3-animate-fading " style="float: right; max-height: 250px; max-width: 100% " />
                                <img src="~/lib/images/IndexPhotos/1Bez nazwy-2.jpg" alt="zdj" class="mySlides w3-animate-fading " style="float: right; max-height: 250px; max-width: 100% " />
                                <img src="~/lib/images/IndexPhotos/1Bez nazwy-3.jpg" alt="zdj" class="mySlides w3-animate-fading " style="float: right; max-height: 250px; max-width: 100% " />

                            </div>
                        <h2>O nas:</h2>
                        <p>Od kilku lat zajmujemy się sprzedażą produktów typu stal nierdzewna predator</br>
                        Od kilku lat zajmujemy się sprzedażą produktów typu stal nierdzewna </br>
                        Od kilku lat zajmujemy się sprzedażą produktów typu stal nierdzewna </br>
                        Od kilku lat zajmujemy się sprzedażą produktów typu stal nierdzewna </br>
                        Od kilku lat zajmujemy się sprzedażą produktów typu stal nierdzewna </br>
                        Od kilku lat zajmujemy się sprzedażą produktów typu stal nierdzewna nierdzewna nierdzewna </p>
                            </div>
                        
                        </div>
                        <div class="col" style="text-align:right; margin-right: 40px; height: 250px;">
                            @*TODO: Responsive image*@ 
                            <div class="w3-content w3-section">
                            <img src="~/lib/images/IndexPhotos/Bez nazwy-1.jpg" alt="zdj" class="mySlides1 w3-animate-fading " style="float: left; max-height: 250px; max-width: 100% " />
                            <img src="~/lib/images/IndexPhotos/Bez nazwy-2.jpg" alt="zdj" class="mySlides1 w3-animate-fading " style="float: left; max-height: 250px; max-width: 100% " />
                            <img src="~/lib/images/IndexPhotos/Bez nazwy-3.jpg" alt="zdj" class="mySlides1 w3-animate-fading " style="float: left; max-height: 250px; max-width: 100% " />

                            </div>
                            <h3>Kontakt:</h3>
                            <p>telefon: 342343243</p>
                            <p>fb: ArtZuDecoration</p>
                            <p>Ig: ArtZuDecoration</p>
                            <p>mail: ArtZuDecoration</p>
                            
                        </div>
                    </div>

                </div>
</section>


