@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/site.css" />

<section>
    <div class="MainCointainer">

                    <div class="imagearea" @*class="col-sm-12"*@  >
                        @*<img src="~/lib/images/logo.png"  />*@


                        <a href="#imagearea1"><img src="~/lib/images/arrowPage.png" class="col-sm-12" style="object-position: center center;" /></a>

                    </div>


                    <div id="imagearea1" class="full-height">
                        <section class="jumpers">

                            <div class="container">

                                <header>

                                    <h1>ArtZu Decoration</h1>
                                    <p></p>

                                </header>

                                <div class="row">

                                    <div class="col-sm-6 col-md-5 offset-md-1">

                                        <figure>
                                            <a class="nav-link text-dark" asp-area="" asp-page="/Products/Index"><img src="~/lib/images/cart-outline/64x64.png" alt="Sklep"></a>
                                                <figcaption>Zobacz produkty</figcaption>
                                        </figure>

                                    </div>
                                    <div class="col- sm-6 col-md-5 offset-md-1">

                                        <figure>
                                            <a href="https://www.instagram.com/artzudecorations/" target="_blank"><img src="~/lib/images/instagram-solid/64x64.png" alt="instagram"></a>
                                            <figcaption>Śledź nas na Instagramie</figcaption>
                                        </figure>

                                    </div>


                                </div>

                            </div>

                        </section>
                    </div>

                </div>
</section>


