@page
@model SklepArtZu.OpiekaNadGrobamiModel
@{
    ViewData["Title"] = "OpiekaNadGrobami";
}

@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
<link rel="stylesheet" href="~/css/card.css" />
<link rel="stylesheet" href="~/css/tableGroby.css" />

        <div style="min-height: 100%;">
                        <div style="text-align: center;  margin-top: 0px;">
                            <h1 style="Position: sticky;"><a asp-area="" asp-page="/Index"><img src="~/lib/images/logo2.png" alt="logo" style="height: 150px; width: 200px;" /></a></h1>
                        </div>
        <h1 style="text-align:left;">Opieka nad Grobami</h1>
            <table>
                <tr>
                    <td>
                        &nbsp; &nbsp;
                    </td>
                    <td>
                        <h2>Usługa postawowa jednorazowa</h2>
                        <p>
                            Sprzątanie grobu i jego otoczenia, zapalenie małego znicza. </br>
                            Mycie nagrobka, oczyszczanie z chwastów otoczenia wokół<br />
                            grobu. Przesłanie zdjęcia grobu przd usługą i po jej
                            <br />zakończeniu pocztą email.
                        </p>
                        <div id="grobyID">
                            <table id="grobyID">
                                <tr>
                                    <td>Nagrobek pojedyńczy</td>
                                    <td>55zł+</td>
                                </tr>
                                <tr>
                                    <td>Nagrobek podwójny</td>
                                    <td>70zł+</td>
                                </tr>
                                <tr>
                                    <td>Grobowiec</td>
                                    <td>90zł+</td>
                                </tr>
                            </table>
                        </div>

                    </td>
                    <td>
                        &nbsp; &nbsp;
                    </td>

                    <td>
                        <h2>Usługa postawowa stała</h2>
                        <p>
                            Sprzątnięcie gropu i jego otoczenia, zapalenie małego znicza.</br>
                            Mycie nagrobka, oczyszczenie z chwastów otoczenia wokół grobu, przesłanie zdjęcia grobu<br />
                            przed usługą i po jej zakończeniu pocztą email.
                        </p>
                        <div id="grobyID">
                            <table id="grobyID">
                                <tr>
                                    <td></td>
                                    <td> 3x w roku</td>
                                    <td> 6x w roku</td>
                                    <td> 12x w roku</td>
                                </tr>
                                <tr>
                                    <td> Nagrobek pojedyńczy</td>
                                    <td> 144zł+</td>
                                    <td> 288zł+</td>
                                    <td> 576zł+</td>
                                </tr>
                                <tr>
                                    <td> Nagrobek podwójny</td>
                                    <td> 189zł+</td>
                                    <td> 378zł+</td>
                                    <td> 756zł+</td>
                                </tr>
                                <tr>
                                    <td> Grobowiec</td>
                                    <td> 249zł+</td>
                                    <td> 498zł+</td>
                                    <td> 996zł+</td>
                                </tr>
                            </table>
                        </div>

                    </td>
                </tr>
            </table>
            <div>
            <div style="float:right; text-align:right;">
                    <h3>Kliknij aby pobrać pełny cennik usług 
                    <a href="~/lib/images/opieka-nad-grobami.pdf" download>
                        <img src="~/lib/images/document-download.png" alt="pobierz" style="height: 60px; width: 60px;">
                    </a></h3>
            </div>
                <div>
                <h3>Kontakt:</h3>
                <p>telefon: 342343243</p>
                <p>mail: ArtZuDecoration</p>
                <p>
                    Adres: ul.Kwarantanny 777</br>
                    Śmiłowice
                </p>
                    </div>
                </div>

        </div>
    </div>

